<div
  id="chat"
  class="max-w-[300px] fixed right-2 bottom-2 p-4 bg-white border border-gray-300 rounded-xl"
>
  <div id="chat_icon">
    <button id="chat_open" class="w-[50px] flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="text-rose-600"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z"
        />
      </svg>
    </button>
  </div>
  <div id="chat_welcome" class="hidden">
    <input
      type="text"
      name="name"
      id="chat_name"
      class="w-full mb-4 py-2 px-6 rounded-xl bg-gray-100"
      placeholder="Your name"
    />
    <button id="chat_join" class="py-2 px-6 rounded-xl text-white bg-rose-600">
      Join Chat
    </button>
  </div>

  <div id="chat_room" class="hidden">
    <div
      id="chat_log"
      class="mb-4 p-4 bg-gray-100 rounded-xl h-[300px] overflow-scroll"
    >
      <p>
        Welcome to our chat! Please type your message and wait for agent to
        join...
      </p>
    </div>
    <input
      type="text"
      name="body"
      id="chat_message_input"
      class="w-full mb-4 p-4 bg-gray-100 rounded-xl"
      placeholder="Type your message..."
    />
    <button
      id="chat_message_submit"
      class="py-2 px-6 bg-rose-600 text-white rounded-xl"
    >
      Send
    </button>
  </div>
</div>
